:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --background-color: #FFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter",sans-serif;
    text-decoration: none;
}


body{
    width: 100%;
    height: 100vh;
}
/*       BARRA DE NAVEGAÇÃO    */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.links  a {
    color: var(--text-color);
    margin-right: 2rem;
    height: 80px;
}

button{
    cursor: pointer;
    padding: 0.8rem 0.8rem;
    border: none;
    border-radius:0.5rem;
    font-weight: 400;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
}

button.cadastrar{
    background : var(--main-color);
    color:var(--background-color);
}

/*       CABEÇALHO      */

header{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

header p{
    margin-bottom: 2rem;
    color: var(--main-color);
    font-weight: 600;
}

header h1{
    padding: 1rem;
    font: 600 2.75rem "Inter";
}

header span{
    color: var(--text-color);
    text-align: center;
}
/*    METRICAS    */
.metricas-container{
    display: flex;
    margin: auto;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 288px;
}

.card-metrica h2{
    font: 600 3.75rem "Inter";
    color: var(--main-color);
}

.card-metrica p{
    padding-bottom: 0.5rem;
}

.card-metrica span{
    text-align: end;
    color: var(--text-color);
    width: 100%;
}
/*     SEÇÃO VAGAS     */
.vagas{
    width: 100%;
    height: 603px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vagas p {
    background-color:rgb(253, 244, 244);
    width: 130px;
    height: 28px;
    text-align: center;
    padding:0.3rem;
    border-radius: 1rem;
    color: #8E2424;
}
.vagas h1{
    padding:1rem;
    font: 600 1.75rem "Inter";
}

.vagas span{
    color: var(--text-color);
    text-align: right;
    padding-bottom: 3rem;
}

.vagas img{
    width: 80%;
    padding-bottom: 4rem;
}

/*      SEÇÃO VAGAS-2     */

.vagas-abertas{
    width: 100%;
    height: 904px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;   
}
.Design{
    width: 768px;
    height: 358px;
}

.Design-title{
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.design-vaga{
    margin: auto;
    width: 100%;
    height: 118px;
    padding:1.5rem;
    border: 0.5px solid;
    border-color: #EAECF0;;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}

.design-vaga h3 {
    padding-bottom: 1.5rem;
    font-weight: 400;
}

.desenvolvimento-de-Software{
    width: 768px;
    height: 458px;
}

.title{
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.desenvolvedor-vaga{
    margin: auto;
    width: 100%;
    height: 118px;
    padding:1.5rem;
    border: 0.5px solid;
    border-color: #EAECF0;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}

.desenvolvedor-vaga h3{
    padding-bottom: 1.5rem;
    font-weight: 400;
}

.info {
    width: 720px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.info span {
    padding: 1rem 1rem 1rem 0rem;
    color: var(--text-color);
}

.depoimentos{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.depoimentos-card{
    width: 70%;
    height: 404px;
    background-color:rgb(253, 244, 244);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textos{
    text-align: center;
    width: 100%;
    padding-bottom: 1.5rem;
}

.textos p{
    padding: 1rem;
    text-align: center;
    color: var(--main-color);
}

.textos h1{
    text-align: center;
    font-weight: 535;
    font-size: 3.5rem;
}

.perfil{
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.perfil img{
    width: 52px;
    height: 52px;
    padding-bottom: 0.4rem;
}

.perfil h2{
    padding-bottom: 0.2rem;
    font-weight: 547;
}

.perfil p{
    color: var(--text-color);
}

/*  Formulário   */
footer{
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto{
    width: 708px;
    height: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto h2 {
    font-size: 1.9rem;
    padding-bottom: 1rem;
    
}

.texto p{
    width: 768px;
    height: 40px;
    color: var(--text-color);
    text-align: center;
}

.input-btn input{
    width: 160px;
    height: 41px;
    border-radius: 0.5rem;
    padding-left: 1rem;
    color: var(--text-color);
}

footer span{
    color: var(--text-color);

}